<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Them moi</h3>

<p><a th:href="@{/cars/create}">Add</a></p>

<form th:action="@{/cars/search}" method="get">
    <input type="text" name = "name">
    <input type="submit" value="Tim kiem">

</form>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table th:if="${!carList.isEmpty()}">
    <thead>
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Producer</th>
        <th>Price</th>
        <th>Description</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${carList}">
        <td th:text="${row.getCode()}"></td>
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getProducer()}"></td>
        <td th:text="${row.getPrice()}"></td>
        <td th:text="${row.getDescription()}"></td>
        <td ><img width="100" height="100" th:src="@{'/i/'+${row.getImg()}}" src="" alt=""></td>
        <td><a th:href="@{/cars/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/cars/{id}/delete(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/cars/{id}/view(id=${row.getId()})}">view</a></td>

    </tbody>
</table>
<p th:if="${carList.isEmpty()}">Khong co danh sach car</p>
</body>
</html>